<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <logger name="org.springframework.security.web.util.matcher" level="WARN"/>
    <logger name="zipkin.reporter" level="ERROR"/>
    <logger name="com.hazelcast.internal.diagnostics.HealthMonitor" level="WARN"/>

    <springProfile name="local,dev">
        <include resource="org/springframework/boot/logging/logback/base.xml" />
        <logger name="org.springframework.web" level="DEBUG"/>
        <!--<logger name="org.springframework.security.web.util.matcher" level="WARN"/>-->
        <!--<logger name="org.springframework.security" level="DEBUG"/>-->

        <!--<logger name="com.thinkgem.jeesite" level="DEBUG"/>-->

        <!--<logger name="org.activiti.engine.impl.persistence" level="DEBUG"/>-->
        <!--<logger name="org.apache.shiro" level="DEBUG"/>-->
    </springProfile>

    <springProfile name="default,prod,test">
        <include resource="org/springframework/boot/logging/logback/defaults.xml" />
        <include resource="org/springframework/boot/logging/logback/file-appender.xml" />
        <root level="INFO">
            <appender-ref ref="FILE" />
        </root>

        <!--<logger name="org.springframework.security.web.util.matcher" level="WARN"/>-->
    </springProfile>
</configuration>